/* @import "../../styles/variables";
@import "../../styles/size"; */


.Space_Date {
    width: 100%;
    hight: 570px;
    display: block;

  @include size(mobile) {
    width: 400px;
  }

  @include size(desktop) {
    width: 1280px;
  }

}

.DateCascader {
    display: flex;
    width: auto;

  @include size(mobile) {
  display: block;
   width: 50px;
  }

  @include size(desktop) {
    width: 60px;
  }
}

.DateButton {
   display: flex;
    width: auto;

  @include size(mobile) {
  display: block;
   width: 50px;
  }

  @include size(desktop) {
    width: 60px;
  } 
}